.wrapper {
    min-height: 100vh;
    height: auto !important;
    height: 100%;
    margin: 0 auto -6.25em;
}

.header {
   
    width: 100%;
    height: 100px;
    background-color:black;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.logo{
    float: left;
    width: 1px;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    height: 80px;
    color: #fff;
}


.nav-menu {
    float: right;
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    
    
}
.nav-menu h2{
    font-size:20px;
}
.nav-menu ul {
    display: flex;
    font-size: 20px;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif;
}

.nav-menu ul li {
    padding-right: 10px;
    display: flex;
    padding:0 10px 0 10px;
}

.nav-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.nav-menu ul li a:hover {
    color: #27bcda;
}

.article {
    width: 1000px;
    max-width: 100%;
    height:100px;
    background: transparent !important;
    margin: 0 15px 0 0;
  }
 .article h1 {
    margin-top: 0;
  }
  
.aside {
    width: 18%;
    padding: 30px;
    height: 350px;
    border:1px solid aliceblue;
    margin: 50px;
    right: 0;
    position: fixed;
    background-color:black;
    margin-top: 15px;
  }
.aside h3 {
    margin: 0;
  }
.article,aside {
    float: left;
    }


.list ul {
    display: block;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.list ul li {
    padding-right: 10px;
    display: flex;
}

.list ul li a {
    color: whitesmoke;
    text-decoration: none;
}

.list ul li a:hover {
    color:skyblue;
}
.tab{
    margin: 40px;
}
li{
   text-align: left;
}
p{
    text-align: left;
}
img{
    max-width: 70%
}

